
.container{
    display: flex;
    position: relative;
    background-color: blue;
    flex-direction: column;
    height: 720px;
    width: 100%;
    /* border-radius: 2%; */
    
}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin: 60px 15px 15px 15px;
    height: 35%;
    gap: 15% 15%;
     justify-content: center;
    align-items: center;

}
.out-box{
    /* border: 2px solid black; */
    display: flex;
    flex: 1;
    height: 90%;
    justify-content: center;
    align-items: center;
    max-width: 142px;
    
}
.in-box{
    /* border: 2px solid black; */
    height: 85%;
    width: 90%;
    align-items: center;
    vertical-align: center;

}
.search-bar{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 4px 8px 5px #4c4b4b;
}
img{
    max-width: 100%;
    max-height: 100%;
}
img:hover{
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
     box-shadow: 4px 8px 5px #4c4b4b;
}

